.container {
  width: 90%;
  margin: 0 auto;

  .row {
    display: grid;
    column-gap: 2rem;
    padding: 1rem 0;

    &.col-xs-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.col-xs-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.col-xs-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.col-xs-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.col-xs-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    &.col-xs-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    &.col-xs-7 {
      grid-template-columns: repeat(7, 1fr);
    }

    &.col-xs-8 {
      grid-template-columns: repeat(8, 1fr);
    }

    &.col-xs-9 {
      grid-template-columns: repeat(9, 1fr);
    }

    &.col-xs-10 {
      grid-template-columns: repeat(10, 1fr);
    }

    &.col-xs-11 {
      grid-template-columns: repeat(11, 1fr);
    }

    &.col-xs-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  @include phoneL {
    width: 90%;

    .row {
      &.col-sm-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.col-sm-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.col-sm-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.col-sm-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.col-sm-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.col-sm-6 {
        grid-template-columns: repeat(6, 1fr);
      }

      &.col-sm-7 {
        grid-template-columns: repeat(7, 1fr);
      }

      &.col-sm-8 {
        grid-template-columns: repeat(8, 1fr);
      }

      &.col-sm-9 {
        grid-template-columns: repeat(9, 1fr);
      }

      &.col-sm-10 {
        grid-template-columns: repeat(10, 1fr);
      }

      &.col-sm-11 {
        grid-template-columns: repeat(11, 1fr);
      }

      &.col-sm-12 {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }

  @include ipad {
    width: 90%;

    .row {
      &.col-md-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.col-md-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.col-md-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.col-md-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.col-md-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.col-md-6 {
        grid-template-columns: repeat(6, 1fr);
      }

      &.col-md-7 {
        grid-template-columns: repeat(7, 1fr);
      }

      &.col-md-8 {
        grid-template-columns: repeat(8, 1fr);
      }

      &.col-md-9 {
        grid-template-columns: repeat(9, 1fr);
      }

      &.col-md-10 {
        grid-template-columns: repeat(10, 1fr);
      }

      &.col-md-11 {
        grid-template-columns: repeat(11, 1fr);
      }

      &.col-md-12 {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }

  @include desktop {
    width: 100rem;

    .row {
      &.col-lg-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.col-lg-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.col-lg-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.col-lg-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.col-lg-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.col-lg-6 {
        grid-template-columns: repeat(6, 1fr);
      }

      &.col-lg-7 {
        grid-template-columns: repeat(7, 1fr);
      }

      &.col-lg-8 {
        grid-template-columns: repeat(8, 1fr);
      }

      &.col-lg-9 {
        grid-template-columns: repeat(9, 1fr);
      }

      &.col-lg-10 {
        grid-template-columns: repeat(10, 1fr);
      }

      &.col-lg-11 {
        grid-template-columns: repeat(11, 1fr);
      }

      &.col-lg-12 {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}
